.small { font-size:12px; }
.gray { color:#999999; }
.hightlight { background-color:#FFFFCC; }

.form {
  font-size:1.4em;
}
.form .description {
  display:block;
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

.form .group {
  margin-bottom:10px;
}

.form input.text_field {
  display:block;
  border: 1px solid lightGray;
  font-size:1.6em;
}


.message.notice {
  background-color: darkGreen;
  color:white;
  padding:4px;
}