.small { font-size:12px; }
.gray { color:#999999; }
.hightlight { background-color:#FFFFCC; }

.form {
  font-size:1.4em;
}
.form .description {
  display:block;
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

.form .group {
  margin-bottom:10px;
}

.form .text_field {
  display:block;
  border: 1px solid lightGray;
  font-size:1.6em;
}

.message.notice {
  background-color: darkGreen;
  color:white;
  padding:4px;
}

blockquote {
  background-color:#F7F7F7;
  border:1px dashed #DADADA;
  color:black;
  font-size:12px;
  margin:15px 0;
  padding:15px 40px;
  text-align:justify;
}

.theme_page_container_right_block {
  margin:40px 20px;
  text-align: center;
}