<h1>Authentification</h1>

<% form_for @user_session, :html => { :class => "form login" } do |f| %>
  <%= f.error_messages :class => "message error" %>
  <div class="group">
    <label><%= f.label :openid_identifier, "OpenID" %></label>
    <%= f.text_field :openid_identifier, :class => "text_field" %>
    <span class="description">seul l'OpenID Octo est autorisé (ex: https://openid.octo.com/users/cbl)</span>
  </div>
  <div>
    <%= f.submit "Login", :class => "button" %>
  </div>
<% end %>