<div id="box">
	<div class="block" id="block-login">
	  <h2>Login Box</h2>
	  <div class="content login">
			<% form_for @user_session, :html => { :class => "form login" } do |f| %>
				<%= f.error_messages :class => "message error" %>
	      <div class="group">
	        <div class="left">
	          <label class="label right"><%= f.label :openid_identifier, "OpenID" %></label>
	        </div>
	        <div class="right">
	         	<%= f.text_field :openid_identifier, :class => "text_field" %>
	        </div>
	        <div class="clear"></div>
	      </div>
	      <div class="group navform">
	        <div class="right">
	          <%= f.submit "Login", :class => "button" %>
	        </div>
	        <div class="clear"></div>
	      </div>
	    <% end %>
	  </div>
	</div>
</div>